.trello-board {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 50px;
  justify-content: center;
}

.timeline {
  position: relative;
  border-radius: 13px;
  box-shadow: 0 0 12px 4px rgb(39, 39, 39);
  padding: 12px;
  margin: 0 16px;
  width: 33%;
  max-width: 420px;
  overflow-y: auto;
  background-color: rgb(255, 210, 216);
}

.add-card-btn {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 30px);
}